h2 {
   margin: 0 0 10px 0;
}

.documents_block {
   padding: 80px 0;
}

table {
   font-weight: 500;
   font-size: 16px;
   color: #4D4D4F;
   width: 100%;
}


th {
   text-align: left;
   padding: 20px 0;
   border-bottom: 1px solid #EDEDF4;

}

thead th {
   border-top: 1px solid #EDEDF4;

}

.nav_table {
   color: #009CB4;
}

.nav_table th:last-child {
   display: flex;
}

.nav_table th:last-child img {
   margin: 0 13px 0 82px;
   align-items: center;
}

.flex_download {
   display: flex;
   align-items: center;
}

.flex_download img {
   margin: 0 14px 0 82px;
   cursor: pointer;
}

.text_download {
   color: #009CB4;
}

.category_el {
   padding-right: 100px;

}

.title_el {
   padding-right: 100px;

}

.data_el {
   padding-right: 70px;

}